html{
    font-family: "Windlass","Georgia","serif";
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5,auto);
    grid-auto-flow: column;
    gap: 10px;
    justify-content: center;
    margin-top: auto;
}

.grid-item{
    border: 2px solid black;
    gap: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 30pt;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30%;
}

.grid-item:hover{
    background-color: burlywood;
}

.grid-item:active{
    transform: translateY(8px);
}

.doboz{
    background-color: lightblue;
    width: 100px;
    border: 15px solid blue;
    padding: 50px;
    margin: auto;
}

main{
    justify-content: center;
}

h1{
    text-align: center;
}

hr{
    width: 1000px;
}

nav{
    background-image: url(pictures/rsz_2sot_wide.jpg);
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
}

nav a,
nav a:visited,
nav a:active{
    color: black;
    text-decoration: none;
    margin: 0px 20px;
}

nav a:hover{
    color: brown;
}

.container{
    display: grid;
    grid-template-columns: 1, auto;
    margin: 2em;
    grid-auto-flow: column;
    position: relative;
    text-align: center;
}

header{
    color:rgb(0, 0, 0);
    text-align:center;
    font-size: 3em;
    flex-direction: row;
    align-items: center;
    display:flex;
    justify-content: center;
    padding: 15px;
    margin: 0;
}

.logo{
    width: 20%;
    height: auto;
    margin-top: 10pt;
}

nav a{
    font-size: 25px;    
}

.centered{
}

.adv{
    background-image: url(pictures/SoT_wallpaper.jpg);
    background-attachment: fixed;   
}

.adventures{
    color: white;
    font-size: 30pt;
    margin-left: 10px;
}

body{
    margin: 0;
}

main{
    margin: 0;
}

nav{
    margin: 0;
}

a>img{
    margin-left: 10px;
}

.advhead{
    background-image: url(pictures/SoT_treasureheader.jpg_large);
}

header{
    padding: 0;
}

.alcim{
    margin-left: 10px;
}

.hajo{
    text-align: center;   
}

.tipus{
    font-size: 35pt;
}



.sloop{
    justify-content: center;
    width: 50%;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.tipusszoveg{
    font-size: 20pt;
    padding-right: 30px;
    padding-top: 200px;
}

.tipusszoveggalleon{
    font-size: 20pt;
    padding-right: 30px;
    padding-top: 150px;
}

.brigantine{
    justify-content: center;
    width: 50%;
    height: auto;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
}

#brig{
    margin-top: 300px;
}

.galleon{
    justify-content: center;
    width: 50%;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.hajohatter{
    background-image: url(pictures/SoT_shipbg.png);
    background-attachment: fixed;
}

.fooldal{
    margin-left: 20px;
    text-align: left;
    font-size: 20pt;
}

.cehek{
    width: 70%;
    height: auto;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mapbg{
    background-image: url(pictures/SoT_map2.webp);
    background-attachment: fixed;
}


.hm{
    font-size: 26pt;
}

.we{
    justify-content: center;
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}

.fooldal{
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 300px;
    margin-right: 350px;
    width:80%;
    color: white;
}

p>a{
    text-decoration: none;
    color: lightgray;
}
